html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto;
  background: radial-gradient(rgba(0, 247, 255, 0.25), rgb(13, 110, 253));
  background-size: auto;
}

input {
  max-width: 200px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: white;
  box-shadow: 10px 10px 8px rgb(50, 50, 50);
  padding: 25px 50px;
  margin-top: 50px;
  min-height: 250px;
}

.content {
  flex: 1;
}

.footer {
  font-size: large;
  min-height: 3em;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
}

.form-select {
  display: inline;
  max-width: 200px;
}

.nav-link {
  font-size: large;
}

.spacer {
  height: 2em;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 3em;
}

#equals {
  font-size: 36pt;
}

@media (max-width: 576px) {


  h1 {
    font-size: 36px;
  }

  input {
    font-size: 24px;
  }

  p {
    font-size: 24px;
  }

  td {
    font-size: 24px;
  }

  .footer {
    font-size: 24px;
  }

  .nav-link {
    font-size: 24px;
  }
}