body {
  font-family: Roboto;
  background: radial-gradient(rgba(0, 247, 255, 0.25), rgb(13, 110, 253));
  background-size: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: white;
  box-shadow: 10px 10px 8px rgb(50, 50, 50);
  padding: 25px;
  margin-top: 50px;
  min-height: 300px;
}

.form-select {
  display: inline;
  width: 100px;
}

.nav-link {
  font-size: large;
}